__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
*.pyc

models/raw/*
!models/raw/.gitkeep
models/quantized/*
!models/quantized/.gitkeep
artifacts/metadata/*
!artifacts/metadata/.gitkeep
logs/*
!logs/.gitkeep
